.content{
    margin-top: 9%;
    max-width: 600px;
    margin-left: 31%;
}
.button{
    margin-top: 2%;
    max-width: 600px;
    margin-left: 31%;
}
.navbar-nav{
    margin-left: 70%;
    
}
*{
    margin: 0%;
}
.navbar-brand{
    margin-top: 0%;
}
.skills{
    margin-left: 50%;
}
.skill{
    padding-left: 1%;
}
.all{
    margin-right: 33%;
}
.project{
    margin-left: 45%;
}
.contact{
    margin-left: 0% ;
    
}














